extends layout
block content
    form#search
        fieldset
            h1 Waypoints
            .waypoints
                .form-control(draggable='true')
                    a.reorder(href='#')
                        i.fas.fa-ellipsis-h
                    input(type='text', name='waypoint', placeholder='Ex: Montpellier, Vermont')
                    a.btn-waypoint-delete(href='#')
                        i.fas.fa-times
                .form-control(draggable='true')
                    a.reorder(href='#')
                        i.fas.fa-ellipsis-h
                    input(type='text', name='waypoint', placeholder='Ex: Detroit, Michigan')
                    a.btn-waypoint-delete(href='#')
                        i.fas.fa-times
            .actions
                a.btn.btn-add-waypoint(href='#')
                    i.fas.fa-plus-square
                    |  Add waypoint
        fieldset
            h1 Options
            label(for='range') Range
            .form-control
                input#range(type='range', min='1', max='50', value='10', name='range')
                span.range
                    span.range-value
                    |   km
            label.form-control(for='avoid-highways')
                input#avoid-highways(type='checkbox', checked='', name='avoid-highways')
                | 				Avoid highways
            label.form-control(for='avoid-tolls')
                input#avoid-tolls(type='checkbox', checked='', name='avoid-tolls')
                | 				Avoid tolls
        .actions
            button.btn.btn-submit(type='submit')
                i.fas.fa-directions
                |    Avoid tolls
        .exports
            a.btn.btn-submit.btn-export-geojson
                i.fas.fa-download
                |    Export as GeoJSON
            a.btn.btn-submit.btn-export-kml
                i.fas.fa-download
                |    Export as KML
    #map