*, *:before, *:after {
	box-sizing: border-box;
}

html, body, #app {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
}

input {
	font-family: 'Roboto', sans-serif;
}

#app {
	display: flex;
}

#search {
	padding: 0.5rem;
	width: 15rem;
	background: #FEFEFE;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 1;
}

.waypoints .form-control:nth-child(-n+2) .btn-waypoint-delete {
	visibility: hidden;
}

.waypoints .form-control {
	padding: 0 0 0.5rem 0;
}

.form-control {
	display: flex;
	flex: 1 0 0;
}

.form-control input[type=text],
.form-control input[type=range] {
	vertical-align: middle;
	flex-grow: 1;
	margin-right: 0.5rem;
	padding: 0.2rem;
}

.btn {
	display: inline-block;
	padding: 0.5rem 0.6rem;
	background-color: deepskyblue;
	color: #FEFEFE;
	border: 0;
	text-decoration: none;
	border-radius: 0.2rem;
	cursor: pointer;
}

.btn:hover {
	background-color: lightskyblue;
}

.btn i {
	vertical-align: middle;
}

.actions {
	text-align: right;
}

legend {
	font-size:0.8rem;
}

fieldset {
	border: 1px solid #CCC;
	margin-bottom: 1rem;
	padding: 0.5rem;
	border-radius: 0.2rem;
}

#map {
	flex-grow: 1;
}

.info-window {
	width: 20rem;
	min-height: 5rem;
	text-decoration: none;
	display: block;
	color: #000;
	padding: 0.35rem 0;
}

.info-window .learn-more {
	font-weight: bold;
	color: blue;
	text-align: right;
}

.info-window:hover .learn-more {
	text-decoration: underline;
}

.info-window div {
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	min-height: 166px;
}

.info-window img {
	display: block;
	width: 100%;
	height: auto;
}

.info-window h1 {
	position: absolute;
	width: 100%;
	bottom: 0;
	margin: 0;
	color: #FFF;
	text-shadow: 0 0 0.5rem #000;
	font-size: 1.2rem;
	padding: 0.5rem;
}

.info-window p:last-child {
	margin-bottom: 0;
}

.btn-waypoint-delete,
.dot {
	display:flex;
	align-items:center;
	padding:0 0.4rem;
	color:#CCC;
}