:root {
	--spacing: 10px;
	--padding: 10px;
	--inner-padding: 6px;
	--h1:18px;
	--h2:14px;
	--text:12px;
}

*, *:before, *:after {
	box-sizing: border-box;
}

html, body, #app {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size:var(--text);
}

input {
	font-family: 'Roboto', sans-serif;
	font-size:var(--text);
	border:1px solid #CCC;
	border-radius: 2px;
}

#app {
	display: flex;
}

#search {
	padding:var(--spacing);
	width: 300px;
	background: #f5f5f5;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 1;
}

.waypoints .form-control:nth-child(-n+2) .btn-waypoint-delete {
	visibility: hidden;
}

.waypoints .form-control {
	padding: 0 0 5px 0;
}

.form-control {
	display: flex;
	flex: 1 0 0;
	position:relative;
}

.form-control input[type=text],
.form-control input[type=range] {
	vertical-align: middle;
	flex-grow: 1;
	padding: var(--inner-padding);
}

.btn {
	display: inline-block;
	padding: 6px 10px 5px 6px;
	background-color: deepskyblue;
	color: #FEFEFE;
	border: 0;
	text-decoration: none;
	border-radius: 2px;
	cursor: pointer;
	font-weight:500;
	font-size:var(--h2);
}

.btn:hover {
	background-color: lightskyblue;
}

.btn i {
	padding:0 2px;
}

.actions {
	text-align: right;
}

fieldset {
	background:#FFFFFF;
	border:none;
	margin-bottom: 10px;
	padding: var(--padding);
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

fieldset h1 {
	padding-top:0;
	margin-top:0;
	font-size:var(--h1);
	font-weight:500;
}

label {
	font-size:var(--h2);
}

#map {
	flex-grow: 1;
}

.info-window {
	width: 200px;
	min-height: 50px;
	text-decoration: none;
	display: block;
	color: #000;
	padding: 5px 0;
}

.info-window .learn-more {
	font-weight: bold;
	color: blue;
	text-align: right;
}

.info-window:hover .learn-more {
	text-decoration: underline;
}

.info-window div {
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	min-height: 166px;
}

.info-window img {
	display: block;
	width: 100%;
	height: auto;
}

.info-window h1 {
	position: absolute;
	width: 100%;
	bottom: 0;
	margin: 0;
	color: #FFF;
	text-shadow: 0 0 5px #000;
	font-size: var(--h1);
	padding: 5px;
}

.info-window p:last-child {
	margin-bottom: 0;
}

.btn-waypoint-delete,
.dot {
	display:flex;
	align-items:center;
	padding:0 4px;
	color:#CCC;
}

.btn-waypoint-delete {
	position:absolute;
	text-decoration:none;
	top:9px;
	right:7px;
}